<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.ActionLink("Logout", "LogOut", "Emp");

    <p>
        @Html.ActionLink("Emp Details for HR", "EmpDetails", "Emp")
    </p>
    <div>
        @RenderBody()
    </div>
</body>
</html>
